<h1>{{title}}</h1>
<a routerLink="">Home</a>
<br>
<a routerLink="user">User</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="abc">ABC</a>
<br> <br>

<!-- Dynamic routing -->
<br> <br>
<a routerLink="user/20">Asad</a>
<br> <br>
<a routerLink="user/30">Bilal</a>
<br> <br>
<a routerLink="user/40">Sam</a>



<router-outlet></router-outlet>

<h1>Now learning service</h1>
<ul *ngFor="let data of memberData">
    <li>{{data.name}}</li>
    <li>{{data.email}}</li>
    <br> <br>
</ul>


<app-footer></app-footer>